*
{
  font-family: 'Inconsolata', monospace;
}
#Board-One, #Board-Two {
  margin-left: 80px;
  margin-top: 80px;
  margin-bottom: 20px;
} 

body {
  background-color: #373737;
}

canvas{
  border: 10px solid whitesmoke;
}

#start {
  color: whitesmoke;
  font-size: 30px;
  padding-top: 40px;
}

#pause {
  color: whitesmoke;
  font-size: 30px;
  padding-top: 40px;
}

#playerOne, #playerTwo {
  padding-top: 30px;
}

#playerOne {
  padding-left: 200px;
}

#playerTwo {
  padding-right: 200px;
}

#container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

#timer {
  color: whitesmoke;
  font-size: 70px;
  position: fixed;
  margin-left: 41%;
}
